<script src="{{ url_for('static', filename='table_sort.js') }}?v=3"></script>
<script src="{{ url_for('static', filename='liftcore-translit.js') }}?v=22"></script>
<script src="{{ url_for('static', filename='liftcore-translations.js') }}?v=24" defer></script>
<script src="{{ url_for('static', filename='liftcore-i18n.js') }}?v=24" defer></script>
<script src="{{ url_for('static', filename='liftcore-display.js') }}?v=24" defer></script>
<script src="{{ url_for('static', filename='liftcore-i18n-boot.js') }}?v=24" defer></script>
