<script>window.__LC_AUTO_TRANSLATE = {{ liftcore_auto_translate|default(true)|tojson }};</script>
<script src="{{ url_for('static', filename='liftcore-translations.js') }}?v=33"></script>
<script src="{{ url_for('static', filename='liftcore-translit.js') }}?v=24"></script>
<script src="{{ url_for('static', filename='liftcore-i18n.js') }}?v=36"></script>
<script src="{{ url_for('static', filename='liftcore-display.js') }}?v=34"></script>
<script src="{{ url_for('static', filename='liftcore-i18n-api.js') }}?v=28"></script>
<script src="{{ url_for('static', filename='liftcore-i18n-boot.js') }}?v=33"></script>
