<script src="{{ url_for('static', filename='table_sort.js') }}?v=5"></script>
<script src="{{ url_for('static', filename='liftcore-pagination.js') }}?v=3"></script>
<script src="{{ url_for('static', filename='liftcore-translit.js') }}?v=24"></script>
<script src="{{ url_for('static', filename='liftcore-translations.js') }}?v=33" defer></script>
<script src="{{ url_for('static', filename='liftcore-i18n.js') }}?v=38" defer></script>
<script src="{{ url_for('static', filename='liftcore-display.js') }}?v=36" defer></script>
<script src="{{ url_for('static', filename='liftcore-i18n-boot.js') }}?v=33" defer></script>
